* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7fafc;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.03rem;
}

/* Navbar */

nav {
    background-color: #ffffff;
    padding: 1.1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e7;
}

.search {
    display: flex;
    width: 55%;
    border: 2px solid #0d6efd;
    border-radius: 8px;
}

.search input {
    width: 60%;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0.6rem 0.5rem;
    border-right: 1px solid #0d6efd;
    font-size: 1rem;
}

.search ::placeholder {
    color: #8b96a5;
}

.category {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category_menu {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.category_menu p {
    font-size: 1rem;
    color: #1c1c1c;
}

.category_menu i {
    color: #8b96a5;
    cursor: pointer;
}

.category i:hover {
    color: #a9b5c5;
}

.category_dropdown {
    background-color: blue;
    position: absolute;
    display: none;
}

#search_btn {
    width: 17%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#search_btn a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    height: 100%;
    align-content: center;
        background-color: #0d6efd;

}

#search_btn a:hover {
    background-color: #4991fd;
}

.nav_icons {
    display: flex;
    gap: 1.8rem;
}

.nav_icons div {
    text-align: center;
    cursor: pointer;
}

.nav_icons div p:hover {
    color: #a9b5c5;
}

.nav_icons div i {
    color: #8b96a5;
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

.nav_icons div p {
    font-size: 0.75rem;
    color: #8b96a5;
}

.nav_icons a {
    text-decoration: none;
    color: #8b96a5;
}

.nav_icons a:hover {
    color: #a9b5c5;

}


/* Nav List */


.nav_list {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e7;
    display: flex;
    padding: 1.1rem 6rem;
    justify-content: space-between;
    align-items: center;
    color: #1c1c1c;
}

.hamburger {
    cursor: pointer;
}

.navList_items {
    display: flex;
    width: 57%;
    gap: 1.5rem;
    cursor: pointer;
    font-weight: 500;
}

.navList_items div:hover {
    color: #0d6efd;
}

.navList_payment {
    display: flex;
    width: 40%;
    justify-content: end;
    gap: 1.5rem;
}

.navList_payment img {
    margin-left: 0.5rem;
}

.navList_items i,
.navList_payment i {
    color: #8b96a5;
    margin-left: 0.6rem;
    cursor: pointer;
}

.navList_items i:hover,
.navList_payment i:hover {
    color: #a9b5c5;
}

.navList_payment div {
    display: flex;
}



/* Main */



main {
    padding: 1.1rem 6rem 0 6rem;
}



/* Main section */



.main_section {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #dee2e7;
    padding: 1.1rem;
    justify-content: space-between;
    border-radius: 6px;
}

.main_menu {
    list-style: none;
    width: 20%;
}

.main_menu li {
    padding: 0.55rem 0.5rem;
    border-radius: 6px;
    margin-bottom: 0.2rem;
    color: #505050;
    cursor: pointer;
}

.main_menu li:hover {
    background-color: #e5f1ff;
}

.active {
    background-color: #e5f1ff;
    color: #1c1c1c;
    font-weight: 600;
}

.main_banner {
    background-color: chartreuse;
    width: 59%;
    position: relative;
}

.main_banner div {
    position: absolute;
    top: 3.5rem;
    left: 2.5rem;
}

.main_banner div h3:nth-child(1) {
    font-weight: 400;
}

.main_banner div h3 {
    font-size: 1.75rem;
    line-height: 2.2rem;
}

.main_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner button {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 1rem;
    color: #1c1c1c;
    cursor: pointer;
    border-radius: 6px;
    height: 40px;
    width: 110px;
    margin-top: 1.1rem;
    box-shadow: 0 0.3rem 1rem #38383814;
}

.main_blocks {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block {
    background-color: #e3f0ff;
    padding: 1.1rem 0.8rem 0.8rem 0.8rem;
    border-radius: 6px;
}

.block1_head {
    display: flex;
    color: #1c1c1c;
}

.block1_text {
    margin-left: 0.5rem;
    align-content: center;
}

.block1_button {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.6rem;
}

.block1_button button {
    background: #0067ff;
    border: 1px solid #0067ff;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.block1_button button:nth-child(2) {
    background: #ffffff;
    border: 1px solid #dee2e7;
    color: #0d6efd;
}

.block2 {
    background: #f38332;
    padding: 1.2rem 1rem;
    color: #ffffff;
}

.block3 {
    background: #55bdc3;
    padding: 1.2rem 1rem;
    color: #ffffff;
}



/* Sales Section */



.sales_section {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    display: flex;
    margin-top: 1.6rem;
    padding: 0.2rem;
    border-radius: 6px;
}

.sales_card1 {
    width: 25%;
    padding: 1.2rem 1.1rem;
}

.sales_card1 h4 {
    color: #1c1c1c;
    font-size: 1.25rem;
    font-weight: 600;
}

.sales_card1 p {
    color: #8b96a5;
}

.sales_timer {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.4rem;
}

.sales_timer div {
    background-color: #606060;
    border-radius: 4px;
    padding: 0.5rem;
    width: 17%;
    text-align: center;
}

.sales_timer p {
    color: #ffffff;
    font-weight: 700;
}

.sales_timer div p:nth-child(2) {
    font-size: 0.75rem;
    font-weight: 400;
}

.card_items {
    border-left: 1px solid #e0e0e0;
    width: 15%;
    padding: 1.2rem 1.1rem;
    text-align: center;
}

.card_items div {
    /* height: 70%; */
    margin: auto;
    align-content: center;
    text-align: center;
}

.card_items div img {
    width: 100%;
    height: 100%;
    align-content: end;
}

.card_items:nth-child(3) div img,
.card_items:nth-child(4) div img {
    height: 70%;
}

.card_items h3 {
    color: #1C1C1C;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
}

.card_items p {
    background-color: #FFE3E3;
    padding: 0.5rem 0.8rem;
    color: #EB001B;
    display: inline-block;
    font-size: 14px;
    border-radius: 29px;
    margin-top: 0.5rem;
}



/* Home Items Section */


.items_group {
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-top: 1.1rem;
    border-left: 1px solid #e0e0e0;
    display: flex;
    position: relative;
    border-radius: 6px;
}

.items_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.homeItems_section .items_left div {
    width: 15%;
}

.items_group .items_left {
    width: 25%;
}

.items_left div {
    position: absolute;
    top: 1.2rem;
    left: 1.1rem;
    width: 17%;
}

.items_left div h4 {
    color: #1C1C1C;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.items_left div button {
    border: none;
    background-color: #FFFFFF;
    color: #1C1C1C;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1.4rem;
    border-radius: 6px;
    font-weight: 500;
}

.items_container {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
}

.items_cards {
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 25%;
    padding: 1.2rem 0.5rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.items_cards h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #1C1C1C;
    margin-bottom: 0.5rem;
}

.items_cards p {
    color: #8B96A5;
    font-size: 0.8rem;
}

.items_cards div:nth-child(1) {
    width: 60%;
}

.cards_img {
    width: 40%;
    align-content: end;
    text-align: end;
}

.cards_img img {
    width: 82.37px;
    height: 82px;
    z-index: -1;
}


/* Inquiry Section */


.inquiry_section {
    display: flex;
    position: relative;
    margin-top: 1.1rem;
    border-radius: 6px;
    align-content: center;
}

.inquiry_section img {
    width: 100%;
    height: 100%;
}

.inquiry_text {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    column-gap: 9rem;
    padding: 2rem 2rem;
}

.inquiry_left {
    color: #FFFFFF;
    padding-top: 0.6rem;
}

.inquiry_left h2 {
    font-size: 2rem;
    font-weight: 600;
}

.inquiry_left p {
    font-size: 1rem;
    margin-top: 1rem;
}

.inquiry_right {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 1.4rem 1.1rem;
    color: #1C1C1C;
    box-shadow: 0 1px 2px #38383840;
}

.inquiry_right h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.right_form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.right_form input,
.right_form textarea {
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    outline: none;
}

.right_form input[type=text] {
    padding: 0.75rem 0.6rem;
    width: 100%;
    margin-top: 1.1rem;
}

.right_form input[type=text]::placeholder {
    color: #1C1C1C;
    font-size: 1rem;
}

.right_form input[type=number] {
    padding: 0.75rem 0.6rem;
}

.right_form textarea {
    width: 100%;
    padding: 0.5rem 0.6rem 2rem 0.6rem;
    font-size: 1rem;
}

.right_form textarea::placeholder {
    color: #8B96A5;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.right_form textarea::-webkit-scrollbar {
    display: none;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity {
    display: flex;
    gap: 0.5rem;
}

#quantity {
    width: 45%;
    font-size: 1rem;
    color: #1C1C1C;
}

#quantity::placeholder {
    color: #1C1C1C;
}

#pieces {
    width: 25%;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DEE2E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.6rem;
    cursor: pointer;
}

#pieces i {
    color: #8B96A5;
}

#pieces i:hover{
    color: #0067FF;
}

#inquiry_btn {
    border: none;
    background: linear-gradient(to bottom, #127FFF, #0067FF);
    padding: 0.5rem;
    font-size: 1rem;
    color: #FFFFFF;
    width: 30%;
    border-radius: 6px;
    cursor: pointer;
}

#inquiry_btn:hover {
    background: linear-gradient(to top, #127FFF, #0067FF);

}



/* Recommend Section */



.recommend_section {
    margin-top: 1.9rem;
}

.recommend_section h3 {
    font-size: 1.5rem;
    font-weight: 600;

}

.recommend_section h3 {
    font-size: 1.5rem;
}

.recommend_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend_card {
    width: 18.5%;
    background-color: #FFFFFF;
    margin-top: 1.3rem;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #E0E0E0;
    position: relative;
}

.recoCards_text {
    text-align: left;
    color: #8B96A5;
    padding: 0 1rem;
    margin: 0.5rem 0;
    line-height: 1.5rem;
    font-weight: 400;
}

.recoCards_text p:nth-child(1) {
    color: #1C1C1C;
}



/* Services Section */



.services_section {
    margin-top: 1.9rem;
}

.services_section h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.servCard_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.3rem;
}

.services_card {
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    position: relative;
    padding-bottom: 1.2rem;
}

.servCard_img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.servIcon_img {
    background-color: #D1E7FF;
    display: inline-block;
    border: 2px solid #FFFFFF;
    width: 19%;
    height: 26%;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 6rem;
    cursor: pointer;
}

.servIcon_img img {
    margin-top: 3px;
}

.services_card p {
    line-height: 1.25rem;
    color: #1C1C1C;
    font-weight: 500;
    padding: 0 1rem;
}

.services_card p:nth-child(3) {
    padding-top: 1rem;
}


/* Country  Section  */


.country_section {
    margin-top: 1.9rem;
}

.country_section h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.country_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.country_card {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 0.7rem;
    margin-top: 0.6rem;
}

.countCard_text {
    line-height: 1rem;
    letter-spacing: -0.2px;
}

.countCard_text p:nth-child(2) {
    color: #8B96A5;
    font-size: 0.813rem;
}


/* Newsletter Section */


.newsletter_section {
    text-align: center;
    margin-top: 2.7rem;
    padding: 2.5rem 0 2rem 0;
    background-color: #EFF2F4;
}

.newsletter_section h4 {
    font-size: 1.25rem;
}

.newsletter_section p {
    color: #606060;
    padding: 0.4rem 0 1.3rem 0;
}

.newsletter_subscribe {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.newsletter_subscribe div {
    background-color: #FFFFFF;
    width: 22%;
    display: flex;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    gap: 0.4rem;
    padding: 0.6rem 0.5rem;
}

.newsletter_subscribe div i {

    color: #8B96A5;
    font-size: 1.2rem;
}

.newsletter_subscribe input {
    background-color: #FFFFFF;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.newsletter_subscribe input::placeholder {
    color: #8B96A5;
}

.newsletter_subscribe button {
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, #127FFF, #0067FF);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    padding: 0.6rem 1.3rem;
}

.newsletter_subscribe button:hover {
    background: linear-gradient(to top, #127FFF, #0067FF);
}



/* Footer */



.footer_head {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    /* background-color: blueviolet; */
    padding: 2.7rem 6rem;
    column-gap: 1.5rem;
}

.footer_left p {
    color: #505050;
    letter-spacing: -0.2px;
    margin: 1rem 0;
}

.footLeft_icons {
    display: flex;
    gap: 0.7rem;
}

.footLeft_icons div {
    background-color: #BDC4CD;
    color: #f7fafc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.footLeft_icons div:hover {
    background-color: #1C1C1C;
    color: #127FFF;
}

.footLeft_icons div i {
    font-size: 0.9rem;
}

.footer_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.footLinks_box p {
    color: #8B96A5;
    letter-spacing: -0.2px;
    font-weight: 400;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.footer_links p:hover {
    color: #127FFF;
}

.footLinks_box p:nth-child(1) {
    color: #1C1C1C;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 0px;
    cursor: default;
}


.footer_right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_right p {
    color: #1C1C1C;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.footer_right div img:nth-child(1) {
    margin-bottom: 0.25rem;
}

.footer_foot {
    display: flex;
    background-color: #EFF2F4;
    border-top: 1px solid #DEE2E7;
    padding: 1.6rem 6rem;
    justify-content: space-between;
    color: #606060;
}

.footer_foot p:nth-child(1) {
    letter-spacing: -0.2px;
}

.footer_foot div {
    display: flex;
    gap: 0.35rem;
    cursor: pointer;
}

.footer_foot div:hover {
    color: #127FFF;
}